spring:
  application:
    name: SpringBootPagination
  datasource:
    url: jdbc:mysql://localhost:3306/testdb
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
