spring:
  application:
    name: JpaAssociation-2
  datasource:
    url: jdbc:mysql://localhost:3306/testdb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true