spring:
  application:
    name: CART-SERVICE
  config:
    import: configserver:http://localhost:8888
  boot:
    admin:
      client:
        url: http://localhost:9999
server:
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}

management:
  endpoints:
    web:
      exposure:
        include: "*"
